<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin.css">
</head>

<body>
    <!----------------------------------------HEADER---------------------------------------------------------------------------------------------->
    <header>
        <div id="logo_wrapper">

        </div>
        <div id="add">
            <span>Добавить группу</span>
        </div>
        <div id="search">
            <input type="text" placeholder="Поиск">
        </div>
    </header>
    <!--------------------------------------------ВСПЛЫВАЮЩЕЕ МЕНЮ---------------------------------------------------------------------------->
    <div id="content_wrapper">
        <div id="wrapper_menu">
            <div id="menu">
                <div id="some_punct_menu">

                </div>
                <div id="settings">

                </div>
                <div id="exit">

                </div>
            </div>
        </div>

        <!---------------------------------СПИСОК-ГРУПП------------------------------------------------------------------------------------------>
        <div id="groups">
            <div>
                <ul id="group_list">

                </ul>
            </div>
        </div>
        <!---------------------------------------ИНФОРМАЦИЯ О ГРУППЕ-------------------------------------------------------------------------------->
        <div id="group_info">

        </div>
    </div>

    <!-------------------------------------НАЧАЛО БЛОКА ВСПЛЫВАЮЩЕЙ ФОРМЫ------------------------------------------------------------------------->
    <div id="add_toast_form">
        <!-------Кнопка закрытия формы------------>
        <div id="close_toast_form_button">
            <!--Кнопка закрыть-->
        </div>

        <!-------------------НАЧАЛО ФОРМЫ ДЛЯ СОЗДАНИЯ ГРУППЫ-и админа с преподом-------------------------------------------->

        <form action="/admin/user/add" method="POST" id="users_toast_form">
            <input name="_csrf" type="hidden" value="{{_csrf.token}}" />
            <div id="fields_users">

            </div>
        </form>
        <!----------------------------------Форма для добавки группы---------------------------------------------------------------->
        <form action="/admin/group/add" method="POST">
            <input name="_csrf" type="hidden" value="{{_csrf.token}}" />
            <div id="fields_groups"></div>
        </form>
        <!---------ФОРМА ПРИВЯЗКИ ПРЕПОДА К ПРЕДМЕНТУ--------------->
        <form method="POST" action="/admin/subject/attache/teacher">
            <input name="_csrf" type="hidden" value="{{_csrf.token}}" />
            <input name="subjectid" type="hidden" value="" />
            <div id="attache_container">
                
            </div>
        </form>
    </div>
   
    <!----------------------------------------------------------------------------------------------->
    <script src="admin.js"></script>
</body>

</html>