<div id="user-discipline_wrapper">
    <div id="add_user_form">Добавить учащегося</div>
    <div id="add_discipline_form">Добавить дисциплину</div>
</div>
<div id="about_group">
    <div id="students_wrapper">
        <table style="border: 1px solid">
            <thead>
                <tr>
                    <td>ФИО</td>
                    <td>Номер зачётки</td>
                    <td>Номер телефона</td>
                </tr>
            </thead>
            <tbody>
            {{#group.students}}
            <tr style="border: 1px solid">
                <td>{{firstName}} {{lastName}} {{middleName}}</td>
                <td>{{studentsBookNumber}}</td>
                <td>{{phoneNumber}}</td>
            </tr>
            {{/group.students}}
            </tbody>
        </table>
    </div>
    <div id="discipline_wrapper">
        <table style="border: 1px solid">
            <thead>
                <tr>
                    <td>Название</td>
                </tr>
            </thead>
            <tbody>
        {{#group.subjects}}
        <tr style="border: 1px solid" subject_id="{{id}}">
            
            <td><span subject_id="{{id}}">{{name}}</span> <button class="attache_teacher" subject_id="{{id}}" >+</button></td>
            
        </tr>
        {{/group.subjects}}
            </tbody>
        </table>
    </div>
</div>


<!-------------------------------------------->
<form action="/admin/user/add" method="POST" id="user_toast_form">
    <input name="_csrf" type="hidden" value="{{_csrf.token}}"/>
    <input name="groupid" type="hidden" value="{{group.id}}"/>
    <input name="typeuser" type="hidden" value="STUDENT"/>
    <div id="add_user_wrapper">
        <div id="student_form_container">
            <div><input type="text" name="firstname" placeholder="Имя">
            <input type="text" name="secondname" placeholder="Фамилия">
            <input type="text" name="lastname" placeholder="Отчество"></div>
            <div><input type="text" name="studentbook" placeholder="Номер зачётки:"></div>
            <div><input type="text" name="phonenumber" placeholder="Номер телефона"></div>
            <div><input type="text" name="username" placeholder="Логин"></div>
            <div><input type="password" name="password" placeholder="Пароль"></div>
            <div id="sub_user">
                <input type="submit" value="Добавить">
            </div>
        </div>
    </div>
 </div>
</form>

<!--------------------------------------------------------------->
<form action="/admin/subject/add" method="POST" id="discipline_toast_form">
    <input name="_csrf" type="hidden" value="{{_csrf.token}}"/>
    <input name="groupid" type="hidden" value="{{group.id}}"/>
    <div id="add_subject_wrapper">
        <div id="dicsipline_name">
            <div><input type="text" name="subjectname" placeholder="Название дисциплины"></div>
        </div>
            <div id="sub_discipline">
                <div><input type="submit" value="Добавить"></div>
            </div>
        </div>
    </div>
</form>
