
  
    <div>
        
        {{#laboratories}}
        
        <a style="border: 1px solid black;" href="/student/download/{{filepath}}" download="{{originalName}}"><div style="padding: 2px 25px;font-size: 13px;color: black;"><span style="color: black;"><span>Результ отправленной лабораторной работы:</span>Оценка - {{#mark}}{{mark}}{{/mark}} \\ </span> <span>(Зачёт: <span id="zach">{{conceived}}{{#conceived}}{{/conceived}}</span>)\\</span><span>{{originalName}}</span></div></a>
        {{/laboratories}}
    
    </div>


