<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="teacher.css">
</head>

<body>
    <!----------------------------------------HEADER---------------------------------------------------------------------------------------------->
    <header>
        <div id="logo_wrapper">

        </div>
        <div id="search">
            <input type="text" placeholder="Поиск">
        </div>
    </header>
    <!--------------------------------------------ВСПЛЫВАЮЩЕЕ МЕНЮ---------------------------------------------------------------------------->
    <div id="content_wrapper">
        <div id="wrapper_menu">
            <div id="menu">
                <div id="some_punct_menu">

                </div>
                <div id="settings">

                </div>
                <div id="exit">

                </div>
            </div>
        </div>

        <!---------------------------------СПИСОК-ДИСЦИПЛИН------------------------------------------------------------------------------------------>
        <div id="disciplines">
            <div>
                <ul id="discipline_list">
                    {{#subjects}}
                        <li subjectid = "{{id}}">
                            {{name}}
                            {{group.name}}
                        </li>
                    {{/subjects}}
                </ul>
            </div>
        </div>
        <!---------------------------------------ИНФОРМАЦИЯ О ПРЕДМЕТЕ-------------------------------------------------------------------------------->
        <div id="discipline_info">
            <div id="info">

            </div>

            <ul>
                <form action="/teacher/upload/labaratory" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <input type="hidden" value="" name="subjectid" id="sub_value">
                    <input type="file" name="file">
                    <input type="submit" value="Добавить лабораторную">
                </form>
            </ul>
        </div>
    </div>

    <!-------------------------------------НАЧАЛО БЛОКА ВСПЛЫВАЮЩЕЙ ФОРМЫ------------------------------------------------------------------------->
    <div id="add_toast_form">
        <!-------Кнопка закрытия формы------------>
        <div id="close_toast_form_button">
            <!--Кнопка закрыть-->
        </div>    
    </div>

    <script src="teacher.js"></script>
</body>

</html>